<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- <bean id="accountDaoImpl" class="com.zps.dao.impl.AccountDaoImpl">
         <property name="jdbcTemplate" ref="jdbcTemplate"></property>
     </bean>
     &lt;!&ndash; 目标对象，切点 &ndash;&gt;
     <bean id="accountServiceImpl" class="com.zps.service.impl.AccountServiceIml">
         <property name="accountDao" ref="accountDaoImpl"></property>
     </bean>-->
    <!--配置平台事务管理器-->
    <bean id="transactionManage" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--组件扫描-->
    <context:component-scan base-package="com.zps"></context:component-scan>

    <!--事务注解驱动-->
    <tx:annotation-driven transaction-manager="transactionManage"></tx:annotation-driven>
    <!-- &lt;!&ndash;通知事务的增强 &ndash;&gt;
    <tx:advice id="transactionAccount" transaction-manager="transactionManage">
        &lt;!&ndash;设置事务的信息&ndash;&gt;
        <tx:attributes>
            &lt;!&ndash;    <tx:method name="transfer" i、solation="REPEATABLE_READ" propagation="REQUIRED" read-only="false"></tx:method>&ndash;&gt;
            &lt;!&ndash; 设置切点方法 &ndash;&gt;
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    &lt;!&ndash; 配置是事务的织入&ndash;&gt;
    <aop:config>
        <aop:advisor advice-ref="transactionAccount" pointcut="execution(* com.zps.service.impl.*.*(..))"></aop:advisor>
    </aop:config>-->
</beans>