div{
    color: red;
    font-size: 100px;

}
#demo{
    color: blue;
}
.deom01{
    color: green;
}
/*
input[type="text"]{
    border: 1px solid;
}*/
div input {
    border: 5px solid;
}
#grad {
    width: 100%;
    height: 500px;
}
#grad {
    background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(red, green, blue); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(red, green, blue); /* Firefox 3.6 - 15 */
    background: radial-gradient(red, green, blue); /* 标准的语法 */
}